useDynLib(dang, .registration=TRUE)

importFrom("utils", "head", "object.size", "tail", "download.file", "read.table", "installed.packages")
importFrom("grDevices", "rgb", "xy.coords", "dev.flush", "dev.hold")
importFrom("graphics", "lines", "plot")
importFrom("stats", "time", "runif", "na.omit")

exportPattern("^[[:alpha:]]+")

S3method(print, xts)
S3method(as.data.table, default)
S3method(as.data.table, xts)
